# Slybot requirements
numpy==1.19.1
Scrapy==2.6.0
# scrapely==0.14.1
git+https://github.com/kirinse/scrapely.git
loginform==1.2.0
lxml==4.5.2
dateparser==0.7.6
python-dateutil==2.8.1
jsonschema==3.2.0
six==1.15.0
scrapy-splash==0.7.2
page_finder==0.1.9
chardet==3.0.4

cssselect~=1.1.0
parsel~=1.6.0
w3lib~=1.22.0
regex~=2020.7.14
PyDispatcher~=2.0.5
Twisted~=20.3.0
setuptools~=49.3.1